.build-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
}

.build-control button {
    display: block;
    font: inherit;
    padding: 0.5rem;
    margin: 0 0.5rem;
    width: 8rem;
    border: 1px solid #AA6817;
    cursor: pointer;
    outline: none;
}

.build-control button:disabled {
    background-color: #AC9980;
    border: 1px solid #7E7365;
    color: #ccc;
    cursor: default;
}

.build-control button:hover:disabled {
    background-color: #AC9980;
    color: #ccc;
    cursor: not-allowed;
}

.label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.build-control .less {  
    background-color: #D39952;
    color: white;
}

.build-control .more {
    background-color: #8F5E1E;
    color: white;
}

.build-control .less:hover, .build-control .less:active {  
    background-color: #DAA972;
    color: white;
}

.buildControl .more:hover,.build-control .more:active {
    background-color: #99703F;
    color: white;
}
